{% extends "base.html" %}
{% block title %}{{ article.title }} — {{category}}{% endblock %}
{% block head %}

  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}

<section id="content" class="entry-content body">

  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
  </header>

  <div class="entry-content {% if article.category.slug == 'writing' %} writing-article {% endif %}">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <br>
  <footer>
  {% if article.tags  %}
  view related projects in: {% for tag in article.tags %}<a href="/{{tag.url}}">&rarr;{{tag}} </a>{% endfor %}
  {% endif %}
  </footer>
</section>
{% if article.embedded_sound %}
<footer class="embedded_sound">
  {{article.embedded_sound}}
</footer>
{% else %}
{% endif %}
{% endblock %}
