{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}


{% for category, articles in categories %}
    {% for article in articles|sort(attribute='date') %}
      {% if article.title.lower() == 'index' %}
        <a class="home-item" href="{{article.category.url}}">
            <div class="project-entry">
                <div class="colspan12-3 colspan6-3 colspan2-2 as-grid with-gutter loop-index-{{loop.index}}">
                  <div class="main-project-circle">

                    <div class="hero-img" style="background: url({{ article.featured_image }});background-size: 150%; background-repeat: no-repeat;background-position: center center;">
                      <h5 id="curved{{loop.index}}" class="rounded-text">{{ article.category }}</h5>
                    </div>
                    <h6 class="project-date">{{ article.date.strftime('%B %Y ') }}</h6>

                  </div>
                </div>
            </div>
        </a>
       {% endif %}
    {% endfor %}
{% endfor %}
{% for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
{% endfor %}
</section><!-- /#content -->
{% endblock content %}
