<footer id="basefooter">
      <p>breadfellows.school is a site by <a href="http://clarebreen.net">Clare Breen</a> and <a href="http://colm.be">Colm O'Neill</a> sharing and publishing the pedagogical material, findings and archives of the breadfellows chats methods developped by Clare. The written material and website sources are <a href="http://gitlab.com/breadfellows">published, available to study, download and reuse here.</a> They are <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a> licenced. Original images also under AGPLv3, original artist images remain copyrighted, unless otherwise noted. <a href="{{SITEURL}}/free-as-in-speech.html">Read more about this here.</a></p>
</footer>
