{% block content %}
</div>
</div>
</div>
<div class="page-container">
  <h3>{{ category }}</h3>
  <div class="left-right-container">
  {% for category, items in categories %}
    {% if category.slug == 'living-arts-project' %}
      {% for article in items %}
        {% if article.title.lower() == 'index' %}
          <div class="project-details">
            <button class="reveal-details"><a href="#" class="reveal-details">information on {{category}}</a></button>
              <div class="collapse">
                {{ article.content }}
              </div>
            </div>
        {% endif %}
      {% endfor %}
        <div class="half-left">
          <h6>these are the children</h6>
          <br><br>
        {% for article in items %}
        {% if article.title.lower() == 'index' %}
        {% for image in article.list_avatars %}
        <img class="pupil_avatar image-process-thumbnails" src="{{image}}">
        {% endfor %}
        {% endif %}
        {% endfor %}
        </div>
        {% for article in items %}
        {% if article.title.lower() == 'index' %}
        <footer class="left-footer">{{article.embedded_sound|safe}}</footer>
        {% endif %}
        {% endfor %}
        <div class="half-right">
          <h6>these are the guest artists</h6>
          <br><br>
          {% for article in items|sort(attribute='date') %}
          {% if article.title.lower() == 'index' %}
          {% else %}
            <a class="bubble" href="{{article.url}}">
                <img class="featured_image image-process-halfwidth" src="{{ article.featured_image }}">
                <span class="article-title">{{ article.title }}</span>
            </a>
        {% endif %}
      {% endfor %}
      </div>
    {% endif  %}
  {% endfor %}
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock footer %}
