{% extends "base.html" %}
{% block content %}
<ul>
  {% for category, articles in categories|sort %}
         <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
 {% endfor %}
</ul>
{% endblock %}
