{% block content %}
</div>
</div>
</div>
<div class="page-container">
  <h5 class="category_page_title">{{ category }}</h5>
  <div class="row-parent">
    <div class="row">


  {% for article in articles_page.object_list %}
  {% if article.title.lower() == 'index' %}
    <div class="project-details">
      <div class="colspan12-12 as-grid">
        {{ article.content }}
      </div>
    </div>
  {% endif %}
  {% endfor %}
  <h2 class="listing-title">Articles in: {{ category }}</h2>
  {% for article in articles_page.object_list %}
  {% if article.title.lower() == 'index' %}
  {% else %}
    <a class="home-item" href="{{article.url}}">
      <div class="project-entry">
          <div class="colspan12-6 colspan6-3 colspan2-2 as-grid with-gutter loop-index-{{loop.index}}">
            <div class="main-project-circle">
              <div class="hero-img hero-img-hp" style="{% if article.featured_image %}background: url({{ article.featured_image }});{% else %} background-color: white;	{% endif %}; background-position: center center; background-size:100%; ">
              </div>
              <h5 id="curved{{loop.index}}" class="rounded-text">{{ article.title }}</h5>
              <h6 class="project-date">{{ article.date.strftime('%B %Y ') }}</h6>
            </div>
          </div>
        </div>
      </a>
  {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock footer %}
