{% block content %}
</div>
</div>
</div>
<div class="page-container">
  <h3>{{ category }}</h3>
  <div class="left-right-container">
  {% for category, items in categories %}
    {% if category.slug == 'documenta-chorus' %}
      {% for article in items %}
        {% if article.title.lower() == 'index' %}
          <div class="project-details">
            <button class="reveal-details"><a href="#" class="reveal-details">information on {{category}}</a></button>
              <div class="collapse">
                {{ article.content }}
              </div>
            </div>
        {% endif %}
      {% endfor %}
        <div class="">
          <br><br>
          <div class="row-parent">
            <div class="row">
              <h6>articles in the {{category}} project</h6>
          {% for article in items|sort(attribute='date') %}
          {% if article.title.lower() == 'index' %}
          {% else %}
            <a class="bubble" href="{{article.url}}">
                <img class="" src="{{ article.featured_image }}">
                <span class="article-title">{{ article.title }}</span>
            </a>
          {% endif %}
          {% endfor %}
            </div>
          </div>
      </div>
    {% endif  %}
  {% endfor %}
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock footer %}
