{% block content %}
</div>
</div>
</div>
<div class="page-container">
  <h3>{{ category }}</h3>
  <div class="left-right-container">
  {% for category, items in categories %}
    {% if category.slug == 'crinniu-na-nog' %}
      {% for article in items %}
        {% if article.title.lower() == 'index' %}
          <div class="project-details">
            <button class="reveal-details"><a href="#" class="reveal-details">information on {{category}}</a></button>
              <div class="collapse">
                {{ article.content }}
              </div>
            </div>
        {% endif %}
      {% endfor %}
          <br><br>
          <div class="row-parent">
              <!-- <h6>articles in the {{category}} project</h6> -->
          <div class="row">
          {% for article in items|sort(attribute='date') %}
          {% if article.title.lower() == 'index' %}
          {% else %}
          <hr>
            <a href="{{article.url}}">
                <div class="container entry-content body" style="background-image: url({{ article.featured_image }});">
                <!-- <img class="circular" src="{{ article.featured_image }}"> -->
                </div>
                <h4 class="article-title">{{ article.title }}</h4>
                <h6 class="article-title">{{ article.locale_date }}</h6>
                {#{{ article }}#}
            </a>
          {% endif %}
          {% endfor %}
          </div>
          </div>
    {% endif  %}
  {% endfor %}
  </div>
</div>
{% endblock %}
{% block footer %}
  {% include 'basefooter.html' %}
{% endblock footer %}
