{% extends "base.html" %}
{% block content %}

does this even work???

{% for category, articles in categories %}
    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
    </li>
{% endfor %}

{% endblock %}
