{% extends "base.html" %}
{% block content %}
</div></div>

<section id="content">
{% block content_title %}
{% endblock %}

<div class="home-half-left">
  <div class="row-parent">
    <div class="row">
      <div class="colspan12-7 ">
        <a href="{{ SITEURL }}/breadfellows_index.html"><h1 id="breadfellows-title">Breadfellows' Chats</h1></a>
      </div>
    </div>
    <div class="row">
      <div class="colspan12-6">
        <p class="start-intro-text">This website collects projects undertaken by Clare Breen in collaboration with lots of different people in different places. Breadfellows' Chats is an important part of Clare's practice; it is artistic research methodology, developed by Clare, bringing people together in conversation, to make ceramics and share food.</p>
        <p id="intro__text" class="intro-text">&larr; more about breadfellows</p>
      </div>
    </div>
    <div class="row">
      <a href="{{ SITEURL }}/schools_index.html">
        <div class="colspan12-3 colspan6-3 as-grid ">
          <h6 id="schools-title">Working with Schools</h6>
          <img src="{{ SITEURL }}/images/schools_workshops/eva_school.JPG" alt="">
        </div>
      </a>
      <a href="{{ SITEURL }}/galleries_index.html">
        <div class="colspan12-3 colspan6-3 with-gutter as-grid">
          <h6 id="galleries-title">Working with Galleries</h6>
          <img src="{{ SITEURL }}/images/visual_workshops/schools27.jpg" alt="">
        </div>
      </a>
      <a href="{{ SITEURL }}/communities_index.html">
        <div class="colspan12-3 colspan6-3 as-grid with-gutter">
          <h6 id="communities-title">Working with Communities</h6>
          <img src="{{ SITEURL }}/images/take_a_part/takeapart8.jpg" alt="">
        </div>
      </a>
      <a href="{{ SITEURL }}/research_index.html">
        <div class="colspan12-3 colspan6-3 as-grid with-gutter">
          <h6 id="research-title">Working with other Artists</h6>
          <img src="{{ SITEURL }}/images/visual_breadfellows/breadfellows_visual12.jpg" alt="">
        </div>
      </a>
    </div>
  </div>
</div>


  <div class="home-half-right">
    <div class="row-parent">
      <div class="row">
        <div class="colspan12-12 as-grid section-title">
          <h4>&darr; projects list &darr;</h4>
        </div>
      </div>
      <div class="row">

    {% for category, articles in categories|sort(attribute='rating', reverse = True) %}
          {% if articles|length > 1 %}
            {% for article in articles %}
            {% if article.title.lower() == 'index' %}
              <a class="home-item" href="{{article.category.url}}">
                  <div class="project-entry">
                      <div class="colspan12-6 colspan6-3 colspan2-2 as-grid with-gutter loop-index-{{loop.index}}">
                        <div class="main-project-circle">
                          <div class="hero-img hero-img-hp" style="{% if article.featured_image %}background: url({{ article.featured_image }});{% else %}background-color: white;{% endif %}; background-position: center center; background-size:100%;">
                          </div>
                          <h5 id="curved{{loop.index}}" class="rounded-text">{{ article.category }}</h5>
                          {% if article.tags %}<small>{% for tag in article.tags %}{{ tag }}{% if loop.last %} {% else %} | {% endif %}{% endfor %}</small>{% else %}<small>&nbsp;</small>{% endif %}
                          <h6 class="project-date">{{ article.date.strftime('%B %Y ') }}</h6>
                        </div>
                      </div>
                    </div>
                  </a>
              {% endif %}
              {% endfor %}
          {% else %}
            {% for article in articles|sort(attribute='rating', reverse = True) %}
            <a class="home-item" href="{{article.url}}">
                <div class="project-entry">
                    <div class="colspan12-6 colspan6-3 colspan2-2 as-grid with-gutter loop-index-{{loop.index}}">
                      <div class="main-project-circle">
                        <div class="hero-img hero-img-hp" style="{% if article.featured_image %}background: url({{ article.featured_image }});{% else %} background-color: #f1eee8;	{% endif %}; background-position: center center; background-size:100%; ">
                        </div>
                        <h5 id="curved{{loop.index}}" class="rounded-text">{{ article.category }}</h5>
                        {% if article.tags %}<small>{% for tag in article.tags %}{{ tag }}{% if loop.last %} {% else %} | {% endif %}{% endfor %}</small>{% else %}<small>&nbsp;</small>{% endif %}
                        <h6 class="project-date">{{ article.date.strftime('%B %Y ') }}</h6>
                      </div>
                    </div>
                  </div>
                </a>
            {% endfor %}
          {% endif %}
    {% endfor %}

  </div>


</section><!-- /#content -->
{% endblock content %}


{% block script %}

  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/leader-line.min.js"></script>
  <script>
    var bf = document.getElementById('breadfellows-title'),
        schools = document.getElementById('schools-title'),
        galleries = document.getElementById('galleries-title'),
        research = document.getElementById('research-title'),
        communities = document.getElementById('communities-title'),
        morebf = document.getElementById('intro__text');
        mainattach = LeaderLine.pointAnchor(bf, {x: '90%', y: -22});

      var line = new LeaderLine(
        LeaderLine.pointAnchor(morebf,{x: -20, y:-40}),
        LeaderLine.pointAnchor(bf,{x: -20, y:-30}),
        {endPlug: 'arrow2',
        startSocket: 'left',
        endSocket: 'left',
        dash: {animation: true},
        hide: true,
        endLabel: LeaderLine.pathLabel('... up here !'),
        });

    	new LeaderLine(mainattach,
        LeaderLine.pointAnchor(schools,{x: '80%', y: -35}),
        {
        endPlug: 'arrow2',
        color: 'rgba(255, 192, 203, 0.5)',
        // path: 'magnet',
        opacity: 0.4,
        startSocket: 'right',
        endSocket: 'right',
        // hide: true,
      });
    	new LeaderLine(mainattach,
        LeaderLine.pointAnchor(galleries, {x: '80%', y: -35}),
        {
        endPlug: 'arrow2',
        color: 'rgba(0, 128, 0, 0.5)',
        // path: 'fluid',
        opacity: 0.4,
        startSocket: 'right',
        endSocket: 'right',
        // hide: true,
      });
      new LeaderLine(mainattach,
        LeaderLine.pointAnchor(research, {x: -10, y: -35}),
        {
        endPlug: 'arrow2',
        color: 'rgba(30, 130, 250, 0.5)',
        // path: 'magnet',
        opacity: 0.4,
        startSocket: 'right',
        endSocket: 'left',
        // hide: true,
      });
      new LeaderLine(mainattach,
        LeaderLine.pointAnchor(communities, {x: -10, y: -35}),
        {
          color: 'rgba(255, 165, 0, 0.5)',
        endPlug: 'arrow2',
        // path: 'fluid',
        opacity: 0.4,
        startSocket: 'right',
        endSocket: 'left',
        // hide: true,
      });
      morebf.addEventListener('mouseover', function() { line.show(); });
      morebf.addEventListener('mouseout', function() { line.hide(); });
  </script>
{% endblock %}
