{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}


{% for category, articles in categories %}
    {% for article in articles %}
    <div class="{#{{ loop.cycle('odd ', 'even')}}#}">
      {% if article.title.lower() == 'index' %}
        <a class="home-item" href="{{article.category.url}}">
          <div class=" home-section row__colspaced">
            <li class="project-entry">
              <article class="hentry">
                <div class="colspan12-6 colspan6-3 colspan2-2 as-grid with-gutter">
                  {% if article.featured_image %}
                    <div class="hero-img" style="background: url({{ article.featured_image }});background-size: contain; background-repeat: no-repeat;background-position: center center;">
                    </div>
                  {% else %}
                    <div class="img-placeholder">
                      <h1 class="entry-title-placeholder">{{ article.title }}</h1>
                      <h3 class="project-projectdate-placeholder">{{ article.projectdate }}</h3>
                    </div>
                  {% endif %}
                </div>
                <div class="colspan12-6 colspan6-3 colspan2-2 as-grid with-gutter">
                  <div class="intro-content">{{ article.homepage_summary }}</div><!-- /.entry-content -->
                  </div>
              </article>
            </li>
          </div>
        </a>
       {% endif %}
    {% endfor %}
  </div>
{% endfor %}

</ol><!-- /#posts-list -->
</section><!-- /#content -->
{% endblock content %}
