{% extends "index.html" %}
{% block title %}{{ page.title }} — {{SITENAME}}{%endblock%}
{% block content %}
<div class="row-parent">
  <div class="row">
    <div class="page-container">

    <h1 class="page-title" >{{ page.title }}</h1>
    <div class="page-content colspan12-8 as-grid">
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

	{% if page.modified %}
		<p>
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}
    </div>
  </div>
  </div>
</div>
{% endblock %}


{% block footer %}
  {% include 'basefooter.html' %}
{% endblock footer %}

{% block script %}
{% endblock %}
