
{% extends "base.html" %}

{% block title %}{{ tag }} tag | {{SITENAME}}{% endblock %}

{% block content %}
<div class="row-parent">
  <div class="row">
    <h2>Articles in the <em>{{ tag }}</em> section</h2>
    {% for article in articles %}
    {% if article.title == 'index' %}
      <li><a href="{{ SITEURL }}/{{article.category.url}}">{{ article.category }}</a></li>
    {% else %}
      <li><a href="{{ SITEURL }}/{{article.url}}">{{ article.title }}</a></li>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
