{% extends "base.html" %}
{% block title %}{{ article.title }} — {{SITENAME}}{%endblock%}
{% block content %}

      <div class="row-parent">
        <div class="row">
          <div class="page-container">
            <h1 class="page-title" >{{ article.title }}</h1>
            <div class="page-content colspan12-8 as-grid">
              {{ article.content }}
              <hr>
            </div>
            <div class="colspan12-12 as-grid">
              {% for art in articles %}
                {% for tag in art.tags %}
                  {% if tag == article.title %}
                    {% if art.title.lower() == 'index' %}
                    <a class="home-item" href="{{art.category.url}}">
                    {% else %}
                    <a class="home-item" href="{{art.url}}">
                    {% endif %}
                  <div class="project-entry">
                    <div class="colspan12-6 colspan6-3 colspan2-2 as-grid with-gutter loop-index-{{loop.index}}">
                      <div class="main-project-circle">
                        <div class="hero-img hero-img-hp" style="{% if art.featured_image %}background: url({{ art.featured_image }});{% else %}background-color: white;{% endif %}; background-position: center center; background-size:100%;"></div>
                        <h5 id="curved{{loop.index}}" class="rounded-text">{{ art.category }}</h5>
                        <h6 class="project-date">{{ art.date.strftime('%B %Y ') }}</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
{% endblock %}
