{% extends "base.html" %}

{% block content %}
    {%- for tag, articles in tags|sort %}
    {% if tag == 'breadfellows' %}
      <a class="homepage-item breadfellows-item" href="{{ SITEURL }}/{{ tag }}_index.html">
      <div class="breadfellows-button">
        <img src="/{{ THEME_STATIC_DIR }}/imgs/button3.png" alt="">
        <h1 class="hp-button hp-button-main">Breadfellows</h1>
      </div>
      </a>

    {% elif tag == 'schools' %}
    <a class="homepage-item" href="{{ SITEURL }}/{{ tag }}_index.html">
    <div class="triangle-button">
      <img src="/{{ THEME_STATIC_DIR }}/imgs/button4.png" alt="">
      <h1 class="hp-button">Working with Schools</h1>
    </div>
    </a>
    {% elif tag == 'galleries' %}
    <a class="homepage-item" href="{{ SITEURL }}/{{ tag }}_index.html">
    <div class="triangle-button">
      <img src="/{{ THEME_STATIC_DIR }}/imgs/button1.png" alt="">
      <h1 class="hp-button">Working with Galleries</h1>
    </div>
    </a>
    {% elif tag == 'communities' %}
    <a class="homepage-item" href="{{ SITEURL }}/{{ tag }}_index.html">
    <div class="triangle-button">
      <img src="/{{ THEME_STATIC_DIR }}/imgs/button2.png" alt="">
      <h1 class="hp-button">Working with Communities</h1>
    </div>
    </a>
    {% elif tag == 'research' %}
    <a class="homepage-item" href="{{ SITEURL }}/{{ tag }}_index.html">
    <div class="triangle-button">
      <img src="/{{ THEME_STATIC_DIR }}/imgs/button5.png" alt="">
      <h1 class="hp-button">Working with Artists & Research</h1>
    </div>
    </a>
    {% else %}
      <li class="homepage-item" style="float: right;"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endif %}
    {% endfor %}
{% endblock %}


---

other attempt:

{#{%- for tag, articles in tags|sort %}
  {% if tag == 'publications' %}
  {% elif tag == 'resources' %}
  {% else %}
  {% if tag == 'breadfellows' %}
    <div class="inner-left">
      <a id="breadfellows" class="homepage-item breadfellows-item" href="{{ SITEURL }}/{{ tag }}_index.html">
        <div class="breadfellows-button">
          <img src="/{{ THEME_STATIC_DIR }}/imgs/button3.png" alt="">
          <h3 id="{{tag}}-title" class="hp-button hp-button-main">Breadfellows</h3>
        </div>
      </a>
    </div>

  {% elif tag == 'schools' %}
    <a id="schools" class="homepage-item" href="{{ SITEURL }}/{{ tag }}_index.html">
      <div class="triangle-button">
        <img src="/{{ THEME_STATIC_DIR }}/imgs/button4.png" alt="">
        <h4 id="{{tag}}-title" class="hp-button">Working with Schools</h4>
      </div>
    </a>
  {% elif tag == 'galleries' %}
    <a id="galleries" class="homepage-item" href="{{ SITEURL }}/{{ tag }}_index.html">
      <div class="triangle-button">
        <img src="/{{ THEME_STATIC_DIR }}/imgs/button1.png" alt="">
        <h4 id="{{tag}}-title" class="hp-button">Working with Galleries</h4>
      </div>
    </a>
  {% elif tag == 'communities' %}
    <a id="communities" class="homepage-item" href="{{ SITEURL }}/{{ tag }}_index.html">
      <div class="triangle-button">
        <img src="/{{ THEME_STATIC_DIR }}/imgs/button2.png" alt="">
        <h4 id="{{tag}}-title" class="hp-button">Working with Communities</h4>
      </div>
    </a>
  {% elif tag == 'research' %}
    <a id="research" class="homepage-item" href="{{ SITEURL }}/{{ tag }}_index.html">
      <div class="triangle-button">
        <img src="/{{ THEME_STATIC_DIR }}/imgs/button5.png" alt="">
        <h4 id="{{tag}}-title" class="hp-button">Working with Artists & Research</h4>
      </div>
    </a>
  {% else %}
      <li id="{{tag}}-title" class="homepage-item {{tag}}" style="float: right;"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>

  {% endif %}
{% endif %}
{% endfor %}#}
