*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
  height: 96%;
  box-sizing: border-box;
  background-color: #f1eee8;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  color: #777;
  position: relative;
  margin: 0;
}
.lt-ie9 body {
  padding-bottom: 4.5rem;
  min-height: 100%;
  z-index: 0;
}
@media screen and (min-width: 600px) {
  body {
    padding-bottom: 4.5rem;
    min-height: 100%;
    z-index: 0;
  }
}

h1 {
  font-size: 32px;
  margin-top: 0.55em;
  margin-bottom: 0.4125em;
}
.lt-ie9 h1 {
  font-size: 42px;
  margin-top: 1.1em;
  margin-bottom: 0.825em;
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 42px;
    margin-top: 1.1em;
    margin-bottom: 0.825em;
  }
}

h2 {
  font-size: 32px;
  margin-top: 1.65em;
  margin-bottom: 1.1em;
}

h3 {
  font-size: 28px;
  margin-top: 1.1em;
  margin-bottom: 0.55em;
}

h4 {
  font-size: 26px;
  margin-top: 0.55em;
  margin-bottom: 0.275em;
}

h5 {
  font-size: 24px;
  margin-top: 0.55em;
  margin-bottom: 0.275em;
}

h6 {
  font-size: 20px;
}

a {
  color: #67b2b1;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #B26869;
}

nav#menu {
  margin-top: 3.3em;
}
nav#menu ul {
  display: inline-block;
  width: 100%;
}
nav#menu li {
  display: inline-block;
  padding-right: 2%;
  padding-top: 10px;
}
nav#menu a.sitename {
  padding-right: 2%;
  font-family: "rubikregular";
}

div.home-half-left {
  width: 100% !important;
  min-height: 75vh;
  height: auto;
  padding-bottom: 100px;
  font-family: 'rubiklight';
}
div.home-half-left img {
  width: 100%;
}
div.home-half-left a {
  color: gray;
}
div.home-half-left #breadfellows-title {
  font-size: 60px;
  margin-bottom: 0.5em;
}
div.home-half-left p.intro-text {
  margin-bottom: 3.5em;
}

svg {
  display: none;
}
.lt-ie9 svg {
  display: block;
}
@media screen and (min-width: 600px) {
  svg {
    display: block;
  }
}

div.home-half-right {
  background-color: #EABA6B;
  width: 100% !important;
  color: white;
  padding-bottom: 1.1em;
}
div.home-half-right a {
  color: white;
}
div.home-half-right div.section-title {
  text-align: center;
  margin-top: 1.1em;
  margin-bottom: 0.55em;
}

section#content {
  margin-top: 10vh;
  padding-bottom: 120px;
}

a.home-item {
  color: grey;
}

div.even div.hero-img {
  display: block;
  float: right !important;
}
div.even div.intro-content {
  display: block;
  float: left !important;
}

p.go-go {
  text-align: center;
  display: none;
}

a.home-item:hover {
  border-bottom: 1px solid black;
}

.lt-ie9 div.intro-content {
  margin-top: 6.6em;
}
@media screen and (min-width: 600px) {
  div.intro-content {
    margin-top: 6.6em;
  }
}
div.intro-content a:hover {
  color: #67b2b1;
}
div.intro-content h1 {
  text-align: center;
}
.lt-ie9 div.intro-content h1 {
  text-align: left;
}
@media screen and (min-width: 600px) {
  div.intro-content h1 {
    text-align: left;
  }
}

div.left-right-container {
  margin: 0 auto;
  max-width: 1800px;
}

div.half-left, div.half-right {
  width: 100%;
  float: left;
  max-width: 900px;
  padding: 2%;
  display: block;
}
.lt-ie9 div.half-left, .lt-ie9 div.half-right {
  width: 50% !important;
  min-height: 200vh;
}
@media screen and (min-width: 600px) {
  div.half-left, div.half-right {
    width: 50% !important;
    min-height: 200vh;
  }
}
div.half-left h6, div.half-right h6 {
  padding: 10px;
}

div.half-left {
  background-image: url("../imgs/bg-2.gif");
  background-size: 85px;
  height: 100%;
  text-align: center;
}
div.half-left h6 {
  background: white;
}
div.half-left img.pupil_avatar {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 1%;
  display: inline-block;
  text-align: center;
  object-fit: fill;
}
.lt-ie9 div.half-left img.pupil_avatar {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
@media screen and (min-width: 600px) {
  div.half-left img.pupil_avatar {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
}

footer.left-footer {
  opacity: 0.4;
}
.lt-ie9 footer.left-footer {
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 50%;
  position: fixed;
  max-height: 70px;
  z-index: 9999;
}
@media screen and (min-width: 600px) {
  footer.left-footer {
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 50%;
    position: fixed;
    max-height: 70px;
    z-index: 9999;
  }
}

footer.left-footer:hover {
  opacity: 1;
  animation: 0.5s;
}

div.half-right {
  background-color: #fcfc58;
  text-align: center;
}

.entry-content .writing-article p {
  width: 96%;
  margin-left: 2%;
  padding-top: 1.65em;
}
.lt-ie9 .entry-content .writing-article p {
  width: 70%;
  float: left;
}
@media screen and (min-width: 600px) {
  .entry-content .writing-article p {
    width: 70%;
    float: left;
  }
}

div.entry-content p, section.entry-content p {
  width: 96%;
  margin-left: 2%;
  padding-top: 1.65em;
}
.lt-ie9 div.entry-content p, .lt-ie9 section.entry-content p {
  width: 60%;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  div.entry-content p, section.entry-content p {
    width: 60%;
    margin: 0 auto;
  }
}
div.entry-content iframe, section.entry-content iframe {
  margin-top: 0.55em;
  width: 90%;
  margin-left: 5%;
}
.lt-ie9 div.entry-content iframe, .lt-ie9 section.entry-content iframe {
  width: 60%;
  margin-left: 20%;
}
@media screen and (min-width: 600px) {
  div.entry-content iframe, section.entry-content iframe {
    width: 60%;
    margin-left: 20%;
  }
}
div.entry-content img, section.entry-content img {
  width: 100%;
}
div.entry-content a.return-categ-link-top, section.entry-content a.return-categ-link-top {
  color: grey;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
}
div.entry-content header, section.entry-content header {
  margin-top: 2.2em;
  margin-bottom: 2.2em;
  text-align: center;
}
div.entry-content header h2.entry-title, section.entry-content header h2.entry-title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
}
.lt-ie9 div.entry-content header h2.entry-title, .lt-ie9 section.entry-content header h2.entry-title {
  letter-spacing: 16px;
}
@media screen and (min-width: 600px) {
  div.entry-content header h2.entry-title, section.entry-content header h2.entry-title {
    letter-spacing: 16px;
  }
}
div.entry-content footer, section.entry-content footer {
  text-align: center;
}
div.entry-content h1, section.entry-content h1 {
  text-align: center;
}
div.entry-content .grid, section.entry-content .grid {
  width: 100%;
}
div.entry-content .half-centered, section.entry-content .half-centered {
  width: 50%;
  margin-left: 25%;
}
div.entry-content .third-centered, section.entry-content .third-centered {
  width: 33%;
  margin: 0 auto;
}
div.entry-content .half-grid, section.entry-content .half-grid {
  width: 48%;
  margin-right: 1%;
}
div.entry-content .third-grid, section.entry-content .third-grid {
  width: 31%;
  margin-right: 1%;
}
div.entry-content .quarter-grid, section.entry-content .quarter-grid {
  width: 24%;
  float: left;
  margin-right: 1%;
}
div.entry-content .fifth-grid, section.entry-content .fifth-grid {
  width: 19%;
}

footer.embedded_sound {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 70px;
  opacity: 0.4;
}

footer.embedded_sound:hover {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

div.page-container {
  width: 100%;
  margin-top: 3.3em;
  height: auto;
  margin-bottom: 1.1em;
  padding-bottom: 100px;
}
div.page-container h1.page-title {
  font-size: 18px;
  color: #777;
  font-family: 'rubiklight';
  text-transform: uppercase;
  letter-spacing: 16px;
  text-align: center;
}
div.page-container h5.category_page_title {
  margin-top: 2.2em;
  margin-bottom: 1.1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}
div.page-container h2.listing-title {
  margin-top: 2.2em;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
div.page-container p {
  margin-top: 2.2em;
  text-align: left;
}
div.page-container img {
  width: 100%;
}
div.page-container div.page-content {
  margin-top: 1.1em;
  margin-bottom: 3.3em;
  float: left;
}
div.page-container div.page-content h1 {
  font-size: 32px;
}
div.page-container div.project-details {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}
div.page-container div.collapse {
  display: none;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
  overflow: hidden;
  text-align: left;
}
.lt-ie9 div.page-container div.collapse {
  width: 50%;
}
@media screen and (min-width: 600px) {
  div.page-container div.collapse {
    width: 50%;
  }
}
div.page-container button.reveal-details {
  padding: 10px 15px;
  background: #67b2b1;
  color: white;
}
div.page-container a.reveal-details {
  color: white;
  font-family: 'rubikregular';
  border: none;
  text-align: center;
}
div.page-container a.bubble {
  text-align: center;
  display: inline-block;
  width: 90%;
  color: grey;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
}
.lt-ie9 div.page-container a.bubble {
  width: 40%;
  min-height: 300px;
}
@media screen and (min-width: 600px) {
  div.page-container a.bubble {
    width: 40%;
    min-height: 300px;
  }
}
div.page-container a.bubble img.featured_image {
  width: 100%;
}
.lt-ie9 div.page-container a.bubble img.featured_image {
  width: 220px;
}
@media screen and (min-width: 600px) {
  div.page-container a.bubble img.featured_image {
    width: 220px;
  }
}
div.page-container a.bubble span.article-title {
  clear: both;
  font-size: 15px;
  display: inline-block;
}
.lt-ie9 div.page-container a.bubble span.article-title {
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  div.page-container a.bubble span.article-title {
    font-size: 20px;
  }
}
div.page-container div.ising-container {
  text-align: center;
}
div.page-container a.ising-bubble {
  text-align: center;
  display: inline-block;
  width: 90%;
  color: grey;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
}
div.page-container a.ising-bubble div.bubble-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.lt-ie9 div.page-container a.ising-bubble div.bubble-container {
  display: inline-block;
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 600px) {
  div.page-container a.ising-bubble div.bubble-container {
    display: inline-block;
    width: 300px;
    height: 300px;
  }
}
div.page-container a.ising-bubble img.circular {
  border-radius: 50%;
}
div.page-container a.ising-bubble img.featured_image {
  width: 100%;
}
.lt-ie9 div.page-container a.ising-bubble img.featured_image {
  width: 220px;
}
@media screen and (min-width: 600px) {
  div.page-container a.ising-bubble img.featured_image {
    width: 220px;
  }
}
.lt-ie9 div.page-container a.ising-bubble {
  width: 33%;
  text-align: center;
  min-height: 200px;
}
@media screen and (min-width: 600px) {
  div.page-container a.ising-bubble {
    width: 33%;
    text-align: center;
    min-height: 200px;
  }
}
div.page-container a.ising-bubble span.article-title {
  clear: both;
  display: block;
  margin: 0 auto;
  font-size: 15px;
}
.lt-ie9 div.page-container a.ising-bubble span.article-title {
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  div.page-container a.ising-bubble span.article-title {
    font-size: 20px;
  }
}

div.main-project-circle:hover h6.project-date {
  visibility: visible;
}

div.project-entry {
  margin-bottom: 20px;
  margin-bottom: 1.1em;
}
div.project-entry div.with-gutter:nth-of-type(1) {
  padding-left: 0px !important;
  padding-right: 3%;
}
div.project-entry div.hero-img {
  min-height: 300px;
  margin-bottom: 1.1em;
}
div.project-entry small {
  font-size: 12px;
  text-align: center;
  display: block;
  margin-bottom: 0.55em;
}
div.project-entry h5.rounded-text {
  text-align: center;
  font-family: 'rubikregular';
}
div.project-entry h6.project-date {
  text-align: center;
  font-size: 16px;
  margin-bottom: 1.1em;
}

footer#basefooter {
  height: 100px;
  padding-top: 1.65em;
  padding-bottom: 1.65em;
  position: absolute;
  font-size: 0.75em;
  bottom: 0;
  opacity: 0.3;
  border-top: 1px dashed grey;
}
footer#basefooter p {
  width: 95%;
  margin: 0 auto;
}
.lt-ie9 footer#basefooter {
  z-index: 9998;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: white;
}
@media screen and (min-width: 600px) {
  footer#basefooter {
    z-index: 9998;
    padding: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: white;
  }
}

footer#basefooter:hover {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
@font-face {
  font-family: 'rubikblack_italic';
  src: url("../fonts/rubik-blackitalic-webfont.woff2") format("woff2"), url("../fonts/rubik-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubikblack';
  src: url("../fonts/rubik-black-webfont.woff2") format("woff2"), url("../fonts/rubik-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubikbold_italic';
  src: url("../fonts/rubik-bolditalic-webfont.woff2") format("woff2"), url("../fonts/rubik-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubikbold';
  src: url("../fonts/rubik-bold-webfont.woff2") format("woff2"), url("../fonts/rubik-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubikmedium_italic';
  src: url("../fonts/rubik-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/rubik-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubikmedium';
  src: url("../fonts/rubik-medium-webfont.woff2") format("woff2"), url("../fonts/rubik-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubikitalic';
  src: url("../fonts/rubik-italic-webfont.woff2") format("woff2"), url("../fonts/rubik-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubikregular';
  src: url("../fonts/rubik-regular-webfont.woff2") format("woff2"), url("../fonts/rubik-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubiklight_italic';
  src: url("../fonts/rubik-lightitalic-webfont.woff2") format("woff2"), url("../fonts/rubik-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubiklight';
  src: url("../fonts/rubik-light-webfont.woff2") format("woff2"), url("../fonts/rubik-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.font-body, body {
  font-family: 'rubiklight', sans-serif, sans-serif;
}

.font-var {
  font-family: Georgia, serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

label, legend, select {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.2571429em;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 0.5866667em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.5866667em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

*[class*="colspan"] {
  width: 100%;
  display: block;
}

*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  .row {
    min-width: 420px;
  }
  .row .colspan2-1 {
    width: 50%;
  }
  .row .colspan2-2 {
    width: 100%;
  }
  .row .push2-1 {
    margin-left: 50%;
  }
  .row .push2-2 {
    margin-left: 100%;
  }
  .row .pull2-1 {
    margin-right: 50%;
  }
  .row .pull2-2 {
    margin-right: 100%;
  }
  .row .push-disable2 {
    margin-left: 0;
  }
  .row .pull-disable2 {
    margin-right: 0;
  }
  .row .hide-at2 {
    display: none;
  }
  .row .block-show-at2 {
    display: block;
  }
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  .row .colspan6-1 {
    width: 16.6666667%;
  }
  .row .colspan6-2 {
    width: 33.3333333%;
  }
  .row .colspan6-3 {
    width: 50%;
  }
  .row .colspan6-4 {
    width: 66.6666667%;
  }
  .row .colspan6-5 {
    width: 83.3333333%;
  }
  .row .colspan6-6 {
    width: 100%;
  }
  .row .push6-1 {
    margin-left: 16.6666667%;
  }
  .row .push6-2 {
    margin-left: 33.3333333%;
  }
  .row .push6-3 {
    margin-left: 50%;
  }
  .row .push6-4 {
    margin-left: 66.6666667%;
  }
  .row .push6-5 {
    margin-left: 83.3333333%;
  }
  .row .push6-6 {
    margin-left: 100%;
  }
  .row .pull6-1 {
    margin-right: 16.6666667%;
  }
  .row .pull6-2 {
    margin-right: 33.3333333%;
  }
  .row .pull6-3 {
    margin-right: 50%;
  }
  .row .pull6-4 {
    margin-right: 66.6666667%;
  }
  .row .pull6-5 {
    margin-right: 83.3333333%;
  }
  .row .pull6-6 {
    margin-right: 100%;
  }
  .row .push-disable6 {
    margin-left: 0;
  }
  .row .pull-disable6 {
    margin-right: 0;
  }
  .row .hide-at6 {
    display: none;
  }
  .row .block-show-at6 {
    display: block;
  }
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  .row {
    min-width: 900px;
  }
  .row .colspan8-1 {
    width: 12.5%;
  }
  .row .colspan8-2 {
    width: 25%;
  }
  .row .colspan8-3 {
    width: 37.5%;
  }
  .row .colspan8-4 {
    width: 50%;
  }
  .row .colspan8-5 {
    width: 62.5%;
  }
  .row .colspan8-6 {
    width: 75%;
  }
  .row .colspan8-7 {
    width: 87.5%;
  }
  .row .colspan8-8 {
    width: 100%;
  }
  .row .push8-1 {
    margin-left: 12.5%;
  }
  .row .push8-2 {
    margin-left: 25%;
  }
  .row .push8-3 {
    margin-left: 37.5%;
  }
  .row .push8-4 {
    margin-left: 50%;
  }
  .row .push8-5 {
    margin-left: 62.5%;
  }
  .row .push8-6 {
    margin-left: 75%;
  }
  .row .push8-7 {
    margin-left: 87.5%;
  }
  .row .push8-8 {
    margin-left: 100%;
  }
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  .row .pull8-2 {
    margin-right: 25%;
  }
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  .row .pull8-4 {
    margin-right: 50%;
  }
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  .row .pull8-6 {
    margin-right: 75%;
  }
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  .row .pull8-8 {
    margin-right: 100%;
  }
  .row .push-disable8 {
    margin-left: 0;
  }
  .row .pull-disable8 {
    margin-right: 0;
  }
  .row .hide-at8 {
    display: none;
  }
  .row .block-show-at8 {
    display: block;
  }
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  .row {
    min-width: 1100px;
  }
  .row .colspan12-1 {
    width: 8.3333333%;
  }
  .row .colspan12-2 {
    width: 16.6666667%;
  }
  .row .colspan12-3 {
    width: 25%;
  }
  .row .colspan12-4 {
    width: 33.3333333%;
  }
  .row .colspan12-5 {
    width: 41.6666667%;
  }
  .row .colspan12-6 {
    width: 50%;
  }
  .row .colspan12-7 {
    width: 58.3333333%;
  }
  .row .colspan12-8 {
    width: 66.6666667%;
  }
  .row .colspan12-9 {
    width: 75%;
  }
  .row .colspan12-10 {
    width: 83.3333333%;
  }
  .row .colspan12-11 {
    width: 91.6666667%;
  }
  .row .colspan12-12 {
    width: 100%;
  }
  .row .push12-1 {
    margin-left: 8.3333333%;
  }
  .row .push12-2 {
    margin-left: 16.6666667%;
  }
  .row .push12-3 {
    margin-left: 25%;
  }
  .row .push12-4 {
    margin-left: 33.3333333%;
  }
  .row .push12-5 {
    margin-left: 41.6666667%;
  }
  .row .push12-6 {
    margin-left: 50%;
  }
  .row .push12-7 {
    margin-left: 58.3333333%;
  }
  .row .push12-8 {
    margin-left: 66.6666667%;
  }
  .row .push12-9 {
    margin-left: 75%;
  }
  .row .push12-10 {
    margin-left: 83.3333333%;
  }
  .row .push12-11 {
    margin-left: 91.6666667%;
  }
  .row .push12-12 {
    margin-left: 100%;
  }
  .row .pull12-1 {
    margin-right: 8.3333333%;
  }
  .row .pull12-2 {
    margin-right: 16.6666667%;
  }
  .row .pull12-3 {
    margin-right: 25%;
  }
  .row .pull12-4 {
    margin-right: 33.3333333%;
  }
  .row .pull12-5 {
    margin-right: 41.6666667%;
  }
  .row .pull12-6 {
    margin-right: 50%;
  }
  .row .pull12-7 {
    margin-right: 58.3333333%;
  }
  .row .pull12-8 {
    margin-right: 66.6666667%;
  }
  .row .pull12-9 {
    margin-right: 75%;
  }
  .row .pull12-10 {
    margin-right: 83.3333333%;
  }
  .row .pull12-11 {
    margin-right: 91.6666667%;
  }
  .row .pull12-12 {
    margin-right: 100%;
  }
  .row .push-disable12 {
    margin-left: 0;
  }
  .row .pull-disable12 {
    margin-right: 0;
  }
  .row .hide-at12 {
    display: none;
  }
  .row .block-show-at12 {
    display: block;
  }
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1300px) {
  .row {
    width: 1300px;
  }
}
.lt-ie9 .row {
  width: 980px;
}
.lt-ie9 .row .colspan12-1 {
  width: 8.3333333%;
}
.lt-ie9 .row .colspan12-2 {
  width: 16.6666667%;
}
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
.lt-ie9 .row .colspan12-4 {
  width: 33.3333333%;
}
.lt-ie9 .row .colspan12-5 {
  width: 41.6666667%;
}
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
.lt-ie9 .row .colspan12-7 {
  width: 58.3333333%;
}
.lt-ie9 .row .colspan12-8 {
  width: 66.6666667%;
}
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
.lt-ie9 .row .colspan12-10 {
  width: 83.3333333%;
}
.lt-ie9 .row .colspan12-11 {
  width: 91.6666667%;
}
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
.lt-ie9 .row .push12-1 {
  margin-left: 8.3333333%;
}
.lt-ie9 .row .push12-2 {
  margin-left: 16.6666667%;
}
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
.lt-ie9 .row .push12-4 {
  margin-left: 33.3333333%;
}
.lt-ie9 .row .push12-5 {
  margin-left: 41.6666667%;
}
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
.lt-ie9 .row .push12-7 {
  margin-left: 58.3333333%;
}
.lt-ie9 .row .push12-8 {
  margin-left: 66.6666667%;
}
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
.lt-ie9 .row .push12-10 {
  margin-left: 83.3333333%;
}
.lt-ie9 .row .push12-11 {
  margin-left: 91.6666667%;
}
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
.lt-ie9 .row .pull12-1 {
  margin-right: 8.3333333%;
}
.lt-ie9 .row .pull12-2 {
  margin-right: 16.6666667%;
}
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
.lt-ie9 .row .pull12-4 {
  margin-right: 33.3333333%;
}
.lt-ie9 .row .pull12-5 {
  margin-right: 41.6666667%;
}
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
.lt-ie9 .row .pull12-7 {
  margin-right: 58.3333333%;
}
.lt-ie9 .row .pull12-8 {
  margin-right: 66.6666667%;
}
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
.lt-ie9 .row .pull12-10 {
  margin-right: 83.3333333%;
}
.lt-ie9 .row .pull12-11 {
  margin-right: 91.6666667%;
}
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
.lt-ie9 .row .hide-at12 {
  display: none;
}
.lt-ie9 .row .block-show-at12 {
  display: block;
}
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

.row__colspaced {
  position: relative;
}
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
