// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*";



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
	height: 96%;
	box-sizing: border-box;
	background-color: #f1eee8;

}

body {
	@extend .font-body;
	color: $base-color;
	position: relative;
	margin: 0;
	@include respond-to($c-vp){
	padding-bottom: 4.5rem;
	min-height: 100%;
	z-index: 0;
	}
}

h1{
	font-size: $beta;
	@include leader(2);
	@include trailer(1.5);
	@include respond-to($c-vp){
	font-size: $alpha;
	@include leader(4);
	@include trailer(3);
	}
}
h2{
	font-size: $beta;
	@include leader(6);
	@include trailer(4);
}
h3{
	font-size: $gamma;
	@include leader(4);
	@include trailer(2);
}
h4{
	font-size: $delta;
	@include leader(2);
	@include trailer(1);
}
h5{
	font-size: $epsilon;
	@include leader(2);
	@include trailer(1);
}
h6{
	font-size: $zeta;
}

a {
	color: $al-green;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action;
	}
}

nav#menu{
	@include leader(12) ;
	ul{
		display: inline-block;
		width: 100%;
	}
	li{
		display: inline-block;
		padding-right: 2%;
		padding-top: 10px;
	}
	a.sitename{
		padding-right: 2%;
		font-family: 'rubikregular',
	}
}

div.home-half-left{
	width: 100% !important;
	min-height: 75vh;
	height: auto;
	padding-bottom: 100px;
	font-family: 'rubiklight';
	img{
		width: 100%;
	}
	a{
		color: gray;
	}
	#breadfellows-title{
		font-size: 60px;
		margin-bottom: 0.5em;
	}
	p.intro-text{
		margin-bottom: 3.5em;
	}
}

svg{
	display: none;
	@include respond-to($c-vp){
		display: block;
	}
}

div.home-half-right{
	background-color: #EABA6B;
	width: 100% !important;
	color: white;
	a{
		color:white;
	}
	@include padding-trailer(4);
	div.section-title{
		text-align: center;
		@include leader(4);
		@include trailer(2);
	}
}

section#content{
	margin-top: 10vh;
	padding-bottom: 120px;
}
a.home-item{
	color: grey;
}
div.even{
	div.hero-img{
		display: block;
		float: right !important;
	}
	div.intro-content{
		display: block;
		float: left !important;
	}
}
p.go-go{
	text-align: center;
	display: none;
}
a.home-item:hover{
	border-bottom: 1px solid black;
}

div.intro-content{
	@include respond-to($c-vp){
		@include leader(24);
	}
	a:hover{
		color: $al-green;
	}
	h1{
		text-align: center;
		@include respond-to($c-vp){
			text-align: left;
		}
	}
}
div.left-right-container{
	margin: 0 auto;
	max-width: 1800px;
}
div.half-left, div.half-right{
	width: 100%;
	float: left;
	max-width: 900px;
	padding:2%;
	display: block;
	@include respond-to($c-vp){
		width: 50% !important;
		min-height: 200vh;
	}
	h6{
		padding: 10px;
	}
}
div.half-left{
	background-image: url('../imgs/bg-2.gif');
	background-size: 85px;
	height: 100%;
	text-align: center;
	h6{
		background: white;
	}
	img.pupil_avatar{
		width: 80px;
		height: 80px;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		@include respond-to($c-vp){
		width: 180px;
		height: 180px;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		}
		//float: left;
		padding: 1%;
		display: inline-block;
		text-align: center;
		object-fit: fill;
	}
}
footer.left-footer{
	opacity: 0.4;
	@include respond-to($c-vp){
  z-index: 10;
	bottom: 0;
	left: 0;
	width: 50%;
	// padding: 1rem;
	// text-align: center;
	position: fixed;
	max-height: 70px;
	z-index: 9999;
	}
}
footer.left-footer:hover{
	opacity: 1;
	animation: 0.5s;
}
div.half-right{
	background-color: $lemony-yellow;
	text-align: center;
}

.entry-content{
	.writing-article{
	p{
		width: 96%;
		margin-left: 2%;
		@include padding-leader(6);
		@include respond-to($c-vp){
			width: 70%;
			float: left;
		}
	}
}
}

div.entry-content, section.entry-content{
	p{
		width: 96%;
		margin-left: 2%;
		@include padding-leader(6);
		@include respond-to($c-vp){
			width: 60%;
			margin: 0 auto;
		}
	}
	iframe{
		@include leader(2);
		width: 90%;
		margin-left: 5%;
		@include respond-to($c-vp){
			width: 60%;
			margin-left: 20%;
		}
	}
	img{
		width: 100%;
	}
	a.return-categ-link-top{
		color: grey;
		text-align: center;
		margin: 0 auto;
		font-size: 0.8em;
	}

	header{
		@include leader(8);
		@include trailer(8);
		text-align: center;
		h2.entry-title{
			text-transform: uppercase;
			font-size: $eta;
			letter-spacing: 4px;
			@include respond-to($c-vp){
			letter-spacing: 16px;
			}
		}
	}
	footer{
		text-align: center;
	}
	h1{
		text-align: center;
	}
	// p img{
		// @include respond-to($c-vp){
			// width: 140%;
			// margin-left: -20%;
		// }
	// }
	.grid{
		width: 100%;
	}
	.half-centered{
		width: 50%;
		margin-left: 25%;
	}
	.third-centered{
		width: 33%;
		margin: 0 auto;
	}
	.half-grid{
		width: 48%;
		margin-right: 1%;
	}
	.third-grid{
		width: 31%;
		margin-right: 1%;
	}
	.quarter-grid{
		width: 24%;
		float: left;
		margin-right: 1%;
	}
	.fifth-grid{
		width: 19%;
		//margin-right: 1%;
	}
}

footer.embedded_sound{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 70px;
	opacity: 0.4;
}
footer.embedded_sound:hover{
	opacity: 1;
	transition: opacity .5s ease-in-out;
}

div.page-container{
	width: 100%;
	@include leader(12);
	height: auto;
	@include trailer(4);
	padding-bottom: 100px;
	h1.page-title{
		font-size: $eta;
		color: $base-color;
		font-family: 'rubiklight';
		text-transform: uppercase;
		letter-spacing: 16px;
		text-align: center;
	}
	h5.category_page_title{
		@include leader(8);
		@include trailer(4);
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 10px;
	}
	h2.listing-title{
		@include leader(8);
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}
	p{
		@include leader(8);
		text-align: left;
	}
	img{
		width:100%;
	}
	div.page-content{
		@include leader(4);
		@include trailer(12);
		float: left;
		h1{
			font-size: $beta;
			//font-family: 'rubikmedium';
		}
	}
	div.project-details{
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	div.collapse{
		display: none;
		width: 90%;
		@include respond-to($c-vp){
		width: 50%;
		}
		margin: 0 auto;
		//margin-top: 60px;
		margin-bottom: 60px;
		overflow: hidden;
		text-align: left;
	}
	button.reveal-details{
	padding: 10px 15px;
	background: $al-green;
	color: white;
	}
	a.reveal-details{
		color: white;
		font-family: 'rubikregular';
		border: none;
		text-align: center;
	}
	a.bubble{
		//position: absolute;
		text-align: center;
		display: inline-block;
		width: 90%;
		@include respond-to($c-vp){
			width: 40%;
			min-height: 300px;
		}
		color: grey;
		@include leader(4);
		@include trailer(4);
		img.featured_image{
			width: 100%;
			@include respond-to($c-vp){
			width: 220px;
			}
		}
		span.article-title{
			clear: both;
			//float: left;
			font-size: $theta;
			display: inline-block;
			@include respond-to($c-vp){
				font-size: 20px;
			}
		}
	}
	div.ising-container{
		text-align: center;
	}
	a.ising-bubble{
		//position: absolute;
		text-align: center;
		display: inline-block;
		width: 90%;
		color: grey;
		width: 90%;
		margin: 0 auto;
		@include leader(4);
		@include trailer(4);
		div.bubble-container{
			width: 200px;
			height: 200px;
			@include respond-to($c-vp){
				display: inline-block;
				width: 300px;
				height: 300px;
			}
			// text-align: center;
			margin: 0 auto;
			border-radius: 50%;
			background-position: center;
			background-size: cover;
		}
		img.circular{
			border-radius: 50%;
		}
		img.featured_image{
			width: 100%;
			@include respond-to($c-vp){
			width: 220px;
			}
		}

		@include respond-to($c-vp){
			width: 33%;
			text-align: center;
			min-height: 200px;
		}
		span.article-title{
			clear: both;
			display: block;
			margin: 0 auto;
			//float: left;
			font-size: $theta;
			@include respond-to($c-vp){
				font-size: 20px;
			}
		}
	}

}

div.main-project-circle:hover{
	h6.project-date{
		visibility: visible;
	}
}

div.project-entry{
	div.with-gutter:nth-of-type(1){
		padding-left:0px !important;
		padding-right: 3%;
	}
	margin-bottom: 20px;
	@include trailer(4);
	div.hero-img{
		min-height: 300px;
		@include respond-to($c-vp){
			// height: 400px;
		}
		@include trailer(4);
	}
	small{
		font-size: 12px;
		text-align: center;
		display: block;
		@include trailer(2);
	}
	h5.rounded-text{
		text-align: center;
		font-family: 'rubikregular';
	}
	h6.project-date{
		text-align: center;
		font-size: 16px;
		@include trailer(4);
	}
}

footer#basefooter{
	height: 100px;
	@include padding-leader(6);
	@include padding-trailer(6);
	position: absolute;
	font-size: 0.75em;
	bottom: 0;
	opacity: 0.3;
	border-top: 1px dashed grey;
	p{
		width: 95%;
		margin: 0 auto;
	}
	@include respond-to($c-vp){
 		z-index: 9998;
 		padding: 1rem;
 		text-align: center;
 		position: absolute;
		bottom: 0;
 		background-color: white;
	}
}

footer#basefooter:hover{
	opacity: 1;
	transition: opacity .5s ease-in-out;
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
