/*
Error: File to import not found or unreadable: modules/*.
       Load paths:
         Compass::SpriteImporter
         /home/colm/git/breadfellows.school/theme/breadfellows/static/sass
         /home/colm/.gem/ruby/2.7.0/gems/compass-core-1.0.3/stylesheets
        on line 11 of /home/colm/git/breadfellows.school/theme/breadfellows/static/sass/assets/css/screen.scss

6: @import "libs/mixins";
7: @import "libs/placeholders";
8: 
9: // Use SASS globbing to import all _.scss files in the module folder.
10: // These should be independent modules that follow the BEM/SMACSS way
11: @import "modules/*";
12: 
13: 
14: 
15: /* ::Base styles *\/
16: /* ------------------------------------------------------------ *\/

Backtrace:
/home/colm/git/breadfellows.school/theme/breadfellows/static/sass/assets/css/screen.scss:11
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:44:in `import'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/colm/.gem/ruby/2.7.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: modules/*.\A        Load paths:\A          Compass::SpriteImporter\A          /home/colm/git/breadfellows.school/theme/breadfellows/static/sass\A          /home/colm/.gem/ruby/2.7.0/gems/compass-core-1.0.3/stylesheets\A         on line 11 of /home/colm/git/breadfellows.school/theme/breadfellows/static/sass/assets/css/screen.scss\A \A 6: @import \"libs/mixins\";\A 7: @import \"libs/placeholders\";\A 8: \A 9: // Use SASS globbing to import all _.scss files in the module folder.\A 10: // These should be independent modules that follow the BEM/SMACSS way\A 11: @import \"modules/*\";\A 12: \A 13: \A 14: \A 15: /* ::Base styles */\A 16: /* ------------------------------------------------------------ */"; }
